{% assign custom_share = true %}

{% for p in site.pages_list %}{% if page.url == p[1] %}
  {% assign custom_share = false %}
{% endif %}{% endfor %}

{% if custom_share %}
<p id="share">Did this post stimulate you? you can
<a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">share on Facebook</a> or
<a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&via=scienceofsoul1" target="_blank">on Twitter</a>.

You can follow scienceofsoul
<a href="https://twitter.com/scienceofsoul1" target="_blank">
   on Twitter</a> or <a href="https://www.facebook.com/scienceofsoul" target="_blank">on facebook</a>.

Leave your comments <a href="https://twitter.com/intent/tweet?text='{{ site.posts[0].title }}'&via=scienceofsoul1" target="_blank">on the twitter page</a>. Would you like a chat with me? I am always ready for a conversation. Send me an email to <code>prashanth@scienceofsoul.net</code></p>
{% endif %}
